.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 768px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}

.dashboard-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.dashboard-card:hover {
  transform: scale(1.03);
}

.dashboard-card h3 {
  margin-top: 1rem;
  text-align: center;
}
