@keyframes h992ee3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.h992ee0 {
  all: unset;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--ColorTextTertiary);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.h992ee0:disabled {
  cursor: not-allowed;
  color: var(--ColorTextDisabled);
  background-color: transparent;
}
.h992ee0:enabled:focus {
  outline: var(--BorderWidthThick) solid var(--ColorActionFocus);
}
.h992ee1:focus {
  outline: none;
}
.h992ee1:enabled:focus {
  outline: none;
}
.h992ee2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.h992ee2 > svg {
  width: 100%;
  height: 100%;
}
.h992ee4 {
  opacity: 0;
}
.h992ee5 {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h992ee6 {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  border: 2px solid var(--ColorTextTertiary);
  border-top: 2px solid var(--ColorActionGhost);
  animation: h992ee3 1.5s linear infinite;
}
.h992ee7 {
  background-color: var(--ColorActionGhost);
}
.h992ee7:hover {
  background-color: var(--ColorActionGhostHover);
}
.h992ee8 {
  background-color: var(--ColorActionSecondary);
}
.h992ee8:hover {
  background-color: var(--ColorActionSecondaryHover);
}
.h992ee9 {
  width: var(--Size4);
  height: var(--Size4);
}
.h992eea {
  width: var(--Size6);
  height: var(--Size6);
}
.h992eeb {
  width: var(--Size6);
  height: var(--Size6);
}
.h992eec {
  padding: var(--Spacing4);
  border-radius: var(--BorderRadiusBase);
}
.h992eed {
  padding: var(--Spacing4);
  border-radius: var(--BorderRadiusSm);
}
.h992eee {
  padding: var(--Spacing8);
  border-radius: var(--BorderRadiusMd);
}
